{% extends 'base.html' %}

{% load static %}

{% block title %} Tendencias {% endblock title %}

{% block body %}

<div class="container">
    <div class="row">
        <h1 class="text-center my-4">Análisis de Tendencias del Crimen</h1>
    </div>

    <div class="row">
        <div class="justificado my-1" >
            Con esta herramienta se puede realizar un Análisis de Tendencias según diversos flitros, para identificar patrones de comportamiento en tiempo y espacio.
        </div>
      </div>
</div>

<div class="container">

    <div class="row my-3">
        <div class="col-12">
            <label for="customRange" class="form-label">Ingrese los siguientes datos para generar una gráfica</label>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">

            <form>
                <div class="form-floating mb-2">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                        <option value="1">Lineas</option>
                        <option value="2">Pastel</option>
                        <option value="3">Barras</option>
                        <option value="3">Histograma</option>
                    </select>
                    <label for="floatingSelect">Tipo de visualizacion</label>
                </div>

                <div class="form-floating mb-2">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                        <option value="0">Todos</option>
                        <option value="1">Robo</option>
                        <option value="2">Homicidio</option>
                        <option value="3">Violacion</option>
                    </select>
                    <label for="floatingSelect">Tipo de crimen</label>
                </div>

                <div class="form-floating mb-2">
                    <select class="form-select" id="alcaldia" aria-label="Floating label select example">
                        <option value="0">Todas</option>
                        <option value="1">Azcapotzalco</option>
                        <option value="2">Álvaro Obregón</option>
                        <option value="3">Benito Juárez</option>
                        <option value="4">Coyoacán</option>
                        <option value="5">Cuajimalpa de Morelos</option>
                        <option value="6">Cuauhtémoc</option>
                        <option value="7">Gustavo A. Madero</option>
                        <option value="8">Iztacalco</option>
                        <option value="9">Iztapalapa</option>
                        <option value="10">La Magdalena Contreras</option>
                        <option value="11">Miguel Hidalgo</option>
                        <option value="12">Milpa Alta</option>
                        <option value="13">Tlalpan</option>
                        <option value="14">Tláhuac</option>
                        <option value="15">Venustiano Carranza</option>
                        <option value="16">Xochimilco</option>
                    </select>
                    <label for="alcaldia">Alcaldia</label>
                </div>

                <div class="form-floating mb-2">
                    <select class="form-select" id="tipoCrimen" aria-label="Floating label select example">
                        <option value="0">Ambos</option>
                        <option value="1">Femenino</option>
                        <option value="2">Masculino</option>
                    </select>
                    <label for="tipoCrimen">Sexo</label>
                </div>

                <div>
                    <label class="mb-1 px-2 text-secondary" for="fechaInicio">Fecha de inicio</label>
                    <input id="fechaInicio" class="form-control mb-2" type="date" min="2016-01-01" max="2022-06-30"/>
    
                    <label class="my-1 px-2 text-secondary" for="fechaFin">Fecha de termino</label>
                    <input id="fechaFin" class="form-control mb-3" type="date" min="2016-01-01" max="2022-06-30"/>
                </div>
            </form>

            <div class="justify-content-center align-items-center my-3">
                <a class="btn btn-primary d-grid shadow mx-3 mb-3" href="#generarGrafica">Generar Gráfica</a>
                <a class="btn btn-primary d-grid shadow mx-3 mb-2" href="#guardarGrafica">Guardar Gráfica</a>
            </div>

        </div>

        <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">

            <!-- Aqui va la grafica -->

            {% for i in object_list %}

                <li> {{ i }} </li>
            {% endfor %}






        </div>
    </div>
</div>

{% endblock body %}