{% extends 'base.html' %}'
{% load static %}

{% block title %} Ayuda {% endblock title %}

{% block body %}

{% include 'includes/title.html' %}

<div class="container">
  <div class="row justify-content-center align-items-center my-4" >
      <div class="col-12 col-sm-4">
        <a class="btn btn-primary d-grid shadow my-2 p-2 mb-2" href="#menuAyuda1">Manuales de usuario</a>
      </div>
      <div class="col-12 col-sm-4">
        <a class="btn btn-primary d-grid shadow my-2 p-2 mb-2" href="#menuAyuda2">Documentación</a>
      </div>
      <div class="col-12 col-sm-4">
        <a class="btn btn-primary d-grid shadow my-2 p-2 mb-2" href="#menuAyuda3">Contacto</a>
      </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center my-4">
    <div class="col-10">
      <h3 id="menuAyuda1">Manuales de usuario</h3> 
    </div>
  </div>

  <div class="row justify-content-center my-4">
    <div class="col-12">
      <p class="justificado">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam in omnis animi. Nostrum, non quae? Eum, a provident, quibusdam quaerat saepe totam eos veritatis temporibus ad inventore debitis id fugiat.
      </p>

      <div class="text-end">
        <a class="link text-decoration-none" href="#title">Regresar ⇮</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center my-4">
    <div class="col-10">
      <h3 id="menuAyuda2">Documentación</h3> 
    </div>
  </div>

  <div class="row justify-content-center my-4">
    <div class="col-12">
      <p class="justificado">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam in omnis animi. Nostrum, non quae? Eum, a provident, quibusdam quaerat saepe totam eos veritatis temporibus ad inventore debitis id fugiat.
      </p>

      <div class="text-end">
        <a class="link text-decoration-none" href="#title">Regresar ⇮</a>
      </div>    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center my-4">
    <div class="col-10">
      <h3 id="menuAyuda3">Contacto</h3> 
    </div>
  </div>

  <div class="row justify-content-center my-4">
    <div class="col-12">
      <p class="justificado">
        Email: zagalmmx@hotmail.com, Tel. 57296000, Ext. 52032.
        
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam in omnis animi. Nostrum, non quae? Eum, a provident, quibusdam quaerat saepe totam eos veritatis temporibus ad inventore debitis id fugiat.
      </p>

       <div class="text-end">
        <a class="link text-decoration-none" href="#title">Regresar ⇮</a>
      </div>    </div>
  </div>
</div>







{% endblock body %}

