{% load static %}

<div id="title" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

        <div class="carousel-item active" data-bs-interval="8000">
            <img src="{% static 'img/logo_Inicio1.png' %}" class="d-block w-100" alt="ImgInicio1">
            <div class="carousel-caption">
                <h1>Análisis de Crimen en la Ciudad de México usando Data Mining</h1>
              </div>
        </div>

        <div class="carousel-item" data-bs-interval="8000">
            <img src="{% static 'img/logo_Inicio3.png' %}" class="d-block w-100" alt="ImgInicio3">
            <div class="carousel-caption">
                <h1>Análisis de Crimen en la Ciudad de México usando Data Mining</h1>
            </div>
        </div>

        <div class="carousel-item " data-bs-interval="8000">
            <img src="{% static 'img/logo_Inicio2.png' %}" class="d-block w-100" alt="ImgInicio2">
            <div class="carousel-caption">
                <h1>Análisis de Crimen en la Ciudad de México usando Data Mining</h1>
            </div>
        </div>

    </div>
  </div>

<!--<div class="container">
  <div class="row">
    <h1 class="text-center my-5">
      Análisis de Crimen en la Ciudad de México usando Data Mining
    </h1>
  </div>
</div>-->