.justificado {
  text-align: justify;
}

.bg-image {
  background-image: url('../img/logo_Angel.jpg');
}

iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-width: 0;
}