{% extends 'base.html' %}

{% load static %}

{% block title %} Crear Mapas {% endblock title %}

{% block body %}

<div class="container">
    <div class="row">
        <h1 class="text-center my-5">Análisis Geoespacial de Datos del Crimen</h1>
    </div>

    <div class="row">
        <div class="justificado mb-2" >
          Con esta herramienta se puede realizar un Análisis Geoespacial.
        </div>
      </div>
</div>

<div class="container">
  <div class="row my-3">
      <div class="col-12">
          <label for="customRange" class="form-label">Ingrese los datos para generar un reporte</label>
      </div>
  </div>
  
  <div class="row px-3">
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 px-2">
          <form>
              <div class="form-floating mb-4">
                  <select class="form-select" id="tipoCrimen" aria-label="Floating label select example">
                      <option value="1">Robo</option>
                      <option value="2">Homicidio</option>
                      <option value="3">Violacion</option>
                  </select>
                  <label for="tipoCrimen">Tipo de crimen</label>
              </div>

              <div class="form-floating mb-4">
                  <select class="form-select" id="alcaldia" aria-label="Floating label select example">
                      <option value="0">Todas</option>
                      <option value="1">Azcapotzalco</option>
                      <option value="2">Álvaro Obregón</option>
                      <option value="3">Benito Juárez</option>
                      <option value="4">Coyoacán</option>
                      <option value="5">Cuajimalpa de Morelos</option>
                      <option value="6">Cuauhtémoc</option>
                      <option value="7">Gustavo A. Madero</option>
                      <option value="8">Iztacalco</option>
                      <option value="9">Iztapalapa</option>
                      <option value="10">La Magdalena Contreras</option>
                      <option value="11">Miguel Hidalgo</option>
                      <option value="12">Milpa Alta</option>
                      <option value="13">Tlalpan</option>
                      <option value="14">Tláhuac</option>
                      <option value="15">Venustiano Carranza</option>
                      <option value="16">Xochimilco</option>
                  </select>
                  <label for="alcaldia">Alcaldia</label>
              </div>
          </form>
      </div>


      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 px-2">
          <label class="mb-2 px-2 text-secondary" for="fechaInicio">Fecha de inicio</label>
          <input id="fechaInicio" class="form-control" type="date" min="2016-01-01" max="2022-06-30"/>
      </div>

      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 px-2">
          <label class="mb-2 px-2 text-secondary" for="fechaFin">Fecha de termino</label>
          <input id="fechaFin" class="form-control" type="date" min="2016-01-01" max="2022-06-30"/>
      </div>

      <div class="form-check col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 px-2">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="MapaCalor">
        <label class="form-check-label" for="MapaCalor">
          Mapa de Calor
        </label>
      </div>
      <div class="form-check col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 px-2">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="Coropletas" checked>
        <label class="form-check-label" for="Coropletas">
          Coropletas
        </label>
      </div>
      <div class="form-check col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 px-2">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="HotSpot" checked>
        <label class="form-check-label" for="HotSpot">
          HotSpot
        </label>
      </div>
      

  </div>

  <div offset-md-4></div>

  <div class="row justify-content-center align-items-center my-5">
      <div class="col-12 col-sm-8 col-md-6 col-lg-6 col-xl-5">
          <a class="btn btn-primary d-grid shadow mx-5 mb-4" href="">Generar Mapa</a>
      </div>
      <div class="col-12 col-sm-8 col-md-6 col-lg-6 col-xl-5">
          <a class="btn btn-primary d-grid shadow mx-5 mb-4" href="">Comparar Mapas</a>
      </div>
  </div>
  
</div>


<div class="container">
  <div class="row justify-content-center align-items-center my-1">
      <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" src="{% static 'Mapa/Mapa.html' %}"></iframe>
      </div>
  </div>
</div>


{% endblock body %}