

.centrado {
  text-align: center;
}

.marq {
    padding-top: 30px;
    padding-bottom: 30px;
}

div.figure {
  float: right;
  width: 25%;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}

#foto{
    max-width: 40%;
height: auto;
margin: 20px;
padding: 5px;
display: inline-block;
margin: auto;
}
#foto2{
    max-width: 20%;
height: auto;
margin: 20px;
padding: 5px;
display: inline-block;
margin: auto;
}

